.header{
  text-align: center;

}
body{
  background-color: aliceblue;
}
.emoji{
  width:200px;
}
.form{
  text-align: center;
}
.buttn{
  background-color: green !important;
  color:white;
}
.response{
  text-align: center;
}